@page
@model AdHocModel
@{
    var Paging = Model.Paging;
}

<h1><a asp-page="/AdHoc">Pagination Trials</a></h1>

<p>There are @Paging.TotalResults results for this page. You are on page # <b>@Paging.Current</b> of <i>@Paging.PageCount</i> pages, showing items @Paging.FromItem to @Paging.ToItem</p>

<code>@Paging.LastPageLink</code>
<br/>
@if(Paging.FirstPageLink != Paging.FirstPage){
    <a title="First Page" asp-page="/AdHoc" asp-route-currentpage="@Paging.FirstPage">&laquo;</a>
    <a title="Previous Page" asp-page="/AdHoc" asp-route-currentpage="@Paging.PreviousPage">&lsaquo;</a>
}
@{
    for(var counter = Paging.FirstPageLink; counter <= Paging.LastPageLink; counter++)
    {
        if(counter == Paging.Current)
        {
            <b>@counter</b>
        }
        else
        {
        <a asp-page="/AdHoc" asp-route-currentpage="@counter">@counter</a>
        }
    }
}
@if(Paging.LastPageLink != Paging.LastPage) {
    <a title="Next Page" asp-page="/AdHoc" asp-route-currentpage="@Paging.NextPage">&rsaquo;</a>
    <a title="Last Page" asp-page="/AdHoc" asp-route-currentpage="@Paging.LastPage">&raquo;</a>
}