@page
@model ViewProductCatalogModel
@{
    var Paging = Model.Paging;
}

<h1>Product Catalog</h1>

<table class="table table-hover">
    <tr>
        <td>Name</td>
        <td>Quantity Per Unit</td>
        <td>Price</td>
    </tr>
    @{
        // Loop through the products to create each row
        foreach(var item in Model.Catalog.Items)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.QuantityPerUnit</td>
                <td>@item.UnitPrice.ToString("C")</td>
            </tr>
        }
    }
    <tfoot>
        <tr>
            <td colspan="3">
                @* Paste my work from ViewProductCatalog *@
@if(Paging.FirstPageLink != Paging.FirstPage){
    <a title="First Page" asp-page="/ViewProductCatalog" asp-route-currentpage="@Paging.FirstPage">&laquo;</a>
    <a title="Previous Page" asp-page="/ViewProductCatalog" asp-route-currentpage="@Paging.PreviousPage">&lsaquo;</a>
}
@{
    for(var counter = Paging.FirstPageLink; counter <= Paging.LastPageLink; counter++)
    {
        if(counter == Paging.Current)
        {
            <b>@counter</b>
        }
        else
        {
        <a asp-page="/ViewProductCatalog" asp-route-currentpage="@counter">@counter</a>
        }
    }
}
@if(Paging.LastPageLink != Paging.LastPage) {
    <a title="Next Page" asp-page="/ViewProductCatalog" asp-route-currentpage="@Paging.NextPage">&rsaquo;</a>
    <a title="Last Page" asp-page="/ViewProductCatalog" asp-route-currentpage="@Paging.LastPage">&raquo;</a>
}                
            </td>
        </tr>
    </tfoot>
</table>